[run]
source = molenc
omit = 
    */tests/*
    */test_*
    setup.py
    */venv/*
    */virtualenv/*
    */__pycache__/*
    */site-packages/*
    */examples/*
    */docs/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

ignore_errors = True
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov

[xml]
output = coverage.xml